table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-collapse: collapse;
	text-align: center;
}
th {
	background: #6699CC;
	color: white;
	padding: 10px 20px;
}
th:hover{
	background: #AFCDE7;
	cursor: pointer;
}
th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
}
td {
	background: #D8E6F3;
}
.legend {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
}
rect {
	stroke-width: 2;
}
.label {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 20px;
}
